/* Add your own CSS here */

/* example of button being styled using the selectors assigned to it in the script.js file */

.buttons {
  margin: 10px;
  padding: 20px;
  border: 1PX;
  background-color: #7b37a3;
  color: white;
  border-radius: 2.5px;
}


.buttons:hover {
  background-color: lightblue;
  cursor: pointer;
}

#bottomTextInput {
  position: relative;
  top: 20px;
  left: 30px;
}

.buttons

canvas {
  border: 2px solid #ddd;
}


.contaoner-one{
position: relative;
  top: 20px;
  left: 30px;
}
/* Use your own selectors [ids(#) and classes(.) for styling the input elements created in p5]  */
