body {
  font-family: Arial, sans-serif;
  background-color: #CAEDFF; /* Background color for the entire page */
}

#container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#column-one {
  background-color: #ffdbf1; /* Background color for the left column */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#column-two {
  background-color: #fff; /* Background color for the right column */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select,
input[type="text"],
input[type="number"],
input[type="range"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff; /* Button background color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Button background color on hover */
}


